<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Shopping corner</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/cart-page">
                        <div style="display: flex;">
                            <div><i class="fa-solid fa-cart-arrow-down"></i></div>
                            <div class="value">{{totalItem}}</div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>